# ============================================================================
#                        Copyright 2022 Gennaro Prota.
# ============================================================================

*                                   text=auto

#       This seems to need Unix line endings, even under Windows.
# ----------------------------------------------------------------------------
.commit_message_template.txt        eol=lf
